# App Engine secret environment variables
env_variables.yaml

# Local environment configuration
.env

# Go binaries and builds
server
*.exe
*.test
*.prof

# Elm local build directories
elm-stuff/
web/app.js


